


.navbar {
    position: fixed;
    width: 100%;
    z-index: 100 !important;
  }
  .sidebar-nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh !important;
    right: 0 !important;
    display: none;
    overflow: hidden;
    /* transition: all 0.5s ease-in-out; */
  }
  .sidebar-main-nav {
    height: 100vh;
    width: 100% !important;
    background-color: #ffffff;
    z-index: 1000;
    position: absolute;
    right: 0;
  }
  .close-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #000000;
    border-radius: 50%;
  }
  
  .sidebar-menu a {
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
  }
  .sidebar-menu a:hover {
    font-weight: 700;
  }
  .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    backdrop-filter: blur(3px);
    z-index: 101 !important;
}
/*  */
.contactus-div{
    background: url('https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top:8.5rem;
    overflow: hidden;
}
.contact-form{
    background-color: #34343475;
    backdrop-filter: blur(5px);
    color: white;
}
input,textarea{
    background: transparent !important;
    /* padding: 5px !important; */
}
input:focus,textarea:focus{
    border: 2px solid yellow !important;;
}
input::-webkit-input-placeholder{
    color: white !important;
}
textarea::-webkit-input-placeholder{
    color: white !important;
}

