.navbar {
  position: fixed;
  width: 100%;
  z-index: 100 !important;
}
.sidebar-nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh !important;
  right: 0 !important;
  display: none;
  overflow: hidden;
  /* transition: all 0.5s ease-in-out; */
}
.sidebar-main-nav {
  height: 100vh;
  width: 100% !important;
  background-color: #ffffff;
  z-index: 1000;
  position: absolute;
  right: 0;
}
.close-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #000000;
  border-radius: 50%;
}

.sidebar-menu a {
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
}
.sidebar-menu a:hover {
  font-weight: 700;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.456);
  backdrop-filter: blur(3px);
  z-index: 101 !important;
}
/* ************************************************** */
.header {
  background: url(../asserts/bg-header.jpg);
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header h1 {
  padding-top: 9rem;
  line-height: 4rem;
}

.search {
  margin-top: -5rem;
}
.search-bar input {
  width: 98%;
}
/* ******modal****************** */
.property-info-img {
  height: 8rem;
  width: 100%;
}
.property-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
/* ******modal****************** */
/* .modal {
    backdrop-filter: blur(5px);
}
.modal-content{
    width: 43rem !important;
}
.modal-property-info{
    background: rgb(245, 245, 245);
    height: 100%;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.modal-img{
    height: 100%;
    width: 100%;
}
.modal-img img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
} */
/* .model-fav-icon{
    position: absolute;
    top: 0;
    right: 0;
}
.model-brochure{
    position: absolute;
    bottom:0;
    left: 0;
}
.model-bhks{
    overflow-x: auto;
    
}
.model-bhks::-webkit-scrollbar {
    display: none;
  } */
/* property */
.property {
  width: 18rem !important;
  background-color: #f3f3f3;
}
.property-img {
  width: 16rem;
  height: 16rem;
  margin-top: 0.9rem;
}
.property-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.properties .item {
  display: flex;
  justify-content: center;
}
/* ------------------- */
.place-desc i {
  font-size: 5rem;
}
/* house type */
.house-type {
  width: 23rem;
  height: 30rem;
  background: linear-gradient(90deg, #cac7ff, #93cfff, rgba(95, 255, 228, 1));
  overflow: hidden !important;
  border-radius: 2rem;
  padding: 0;
}
.house-type img {
  width: auto;
  height: 30rem;
  position: absolute;
  bottom: 0;
}
.house-type-desc {
  background: rgba(95, 95, 95, 0.35);
  backdrop-filter: blur(26.5px);
  border-radius: 2rem;
  /* height: 15rem; */
  /* margin-bottom: -5rem; */
}
.line:after {
  content: " ";
  display: block;
  position: absolute;
  left: calc(35% - 5px);
  right: 50%;
  width: 25%;
  border-bottom: 5px solid #ffffff;
  border-radius: 5px;
}
/* new project */
.project {
  margin-top: 4rem;
}
.project-img {
  width: 30rem;
  height: 30rem;
  background-color: #93cfff;
}
.project-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* villa */
.villa {
  background-color: #f3f3f3;
  height: 17rem;
  border-radius: 2rem;
  overflow: hidden !important;
  padding: 0;
}
.villa-img {
  height: 17rem;
}
.villa-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* about us */
.about-us-img {
  background: linear-gradient(rgba(0, 0, 0, 0.703), #00000048),
    url("https://images.unsplash.com/photo-1520330979108-7d66e04b35e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
  height: 35rem;
  width: 25rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us-img img {
  height: 18rem;
}
/* suscribe */
.suscribe {
  background: linear-gradient(#00000071, #00000071),
    url("../asserts/pedro-lastra-Nyvq2juw4_o-unsplash.jpg");
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 1.5rem;
  overflow: hidden;
}
/* .suscribe-msg p{
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    mix-blend-mode:screen;
} */
/* footer */
.logo-text {
  line-height: 1rem;
}
.footer-nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer-nav a:hover {
  font-weight: 600;
  font-size: 1.2rem !important;
}
.footer-content {
  position: relative;
  z-index: 10;
}
.footer {
  background-color: rgb(15, 15, 15);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.footer-logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
}
.footer-logo img {
  height: 40rem;
  opacity: 5%;
}
.footer-main-logo {
  height: 12rem;
}
.terms a:hover {
  color: #f2b90f !important;
}
/* --------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }
  .header h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .header p {
    background-color: #ffffff52 !important;
    /* backdrop-filter: blur(2px); */
  }
  /* ---------------- */
  .villa {
    height: auto;
  }
  .suscribe {
    height: auto;
  }
  .house-type {
    width: 18rem !important;
    height: 26rem;
  }
  .house-type img {
    height: 25rem;
  }
  .about-us-img {
    width: 100%;
  }
  .footer-logo {
    top: 5rem;
    left: 30%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar-main-nav {
    width: 40% !important;
  }
  .villa {
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
