.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
}

/* --------- */
.header{
    background: url(../asserts/bg-header.jpg);
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1{
    padding-top: 10rem;
    line-height: 4rem;
}

.search{
    margin-top: -5rem;
}
.search-bar input{
    width: 98%;
}
/* property */
.property{
    width: 18rem !important;
    background-color:#f3f3f3;
}
.property-img{
    width: 16rem;
    height: 16rem;
    margin-top: 0.9rem;
}
.property-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.properties .item{
    display: flex;
    justify-content: center ;
}
/* ------------------- */
.place-desc i{
font-size: 5rem;
}
/* house type */
.house-type{
    width: 23rem;
    height: 30rem;
    background: linear-gradient(90deg, #cac7ff, #93cfff, rgba(95,255,228,1));
    overflow: hidden !important;
    border-radius: 2rem;
    padding: 0;
}
.house-type img{
    width: auto;
    height: 30rem;
    position: absolute;
    bottom: 0;
/* object-fit: contain; */
}
.house-type-desc{
background: rgba(95, 95, 95, 0.35);
backdrop-filter: blur(26.5px);
border-radius: 2rem;
}
.line:after {
    content: " ";
    display: block;
    position: absolute; 
    left: calc(35% - 5px);
    right: 50%;
    width: 25%;
    border-bottom: 5px solid #ffffff;
    border-radius: 5px;
}
/* new project */
.project{
    margin-top: 4rem;
}
.project-img{
    width: 30rem;
    height: 30rem;
    background-color: #93cfff;
}
.project-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* villa */
.villa{
    background-color:#f3f3f3;
    height: 17rem;
    border-radius: 2rem;
    overflow: hidden !important;
    padding: 0;
}
.villa-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* about us */
.about-us-img{
    background:linear-gradient(rgba(0, 0, 0, 0.703),#00000048), url('https://images.unsplash.com/photo-1520330979108-7d66e04b35e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80');
    height: 40rem;
    width: 30rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.about-us-img img{
    height: 10rem;
}
/* suscribe */
.suscribe{
    background:linear-gradient(#00000071,#00000071), url('../asserts/pedro-lastra-Nyvq2juw4_o-unsplash.jpg');
    height: 12rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 1.5rem;
}
/* footer */
.logo-text{
    line-height: 1rem;
}
.footer-nav a{
text-decoration: none;
color: white;
font-weight: lighter;
}
/* --------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}