.navbar {
    position: fixed;
    width: 100%;
    z-index: 100 !important;
  }
  .sidebar-nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh !important;
    right: 0 !important;
    display: none;
    overflow: hidden;
    /* transition: all 0.5s ease-in-out; */
  }
  .sidebar-main-nav {
    height: 100vh;
    width: 100% !important;
    background-color: #ffffff;
    z-index: 1000;
    position: absolute;
    right: 0;
  }
  .close-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #000000;
    border-radius: 50%;
  }
  
  .sidebar-menu a {
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out;
  }
  .sidebar-menu a:hover {
    font-weight: 700;
  }
  .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.456);
    backdrop-filter: blur(3px);
    z-index: 101 !important;
}
/*  */
.nri-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content{
    margin-top: 8rem;
    height: 100%;
    background-color: #00000063;
    backdrop-filter: blur(5px);
}
/*  */
.logo-text {
  line-height: 1rem;
}
.footer-nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer-nav a:hover {
  font-weight: 600;
  font-size: 1.2rem !important;
}
.footer-content {
  position: relative;
  z-index: 10;
}
.footer {
  background-color: rgb(15, 15, 15);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.footer-logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
}
.footer-logo img {
  height: 40rem;
  opacity: 5%;
}
.footer-main-logo {
  height: 12rem;
}
.terms a:hover {
  color: #f2b90f !important;
}
/* --------- */