*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.logo{
    height: 5rem;
}
.text-yellow{
    color: #F2B90F !important;
}
.text-light-yellow{
  color: #ffebc5 !important;
}
.bg-yellow{
    background-color: #F2B90F !important;
}
.bg-light-yellow{
  background-color: #ffebc5 !important;
}
.border-yellow{
  border-color: #F2B90F !important;
}
h1, h2,h3, h4, h5, h6,p,span,strong,sub{
    margin-bottom: 0;
}
.text-xs{
    font-size: 0.8rem;
}
input:focus,button:focus,textarea:focus,select:focus, input[type='range']:focus{
  outline: none !important;
  box-shadow: none !important;
}





/* scrollbar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #f2b90f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f2b90f;
    border-radius: 53px;
    border: 3px solid #ffffff;
  }

  /* ====== input range  ======= */    
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #F2B90F;
    }
